<div class="panel panel-default plugins">
  <div class="panel-heading">
        <h3 class="panel-title">
        </span> Vulnerabilidades de Tema  <strong>dt-chocolate</strong></h3>
  </div>
  <div class="panel-body fixed-panel">
    <table class="table table-striped header-fixed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Fecha de Creación</th>
          <th>Nombre</th>
          <th>Detalle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-xs-2"> <%= '7366' %></td>
          <td class="col-md-7"><%= '2014-08-01' %></td>
          <td class="col-md-3"><%= 'dt-chocolate - jPlayer XSS' %></td>
          <td><button type="button" class="btn btn-primary btn-sm">Ver Detalle</button></td>
        </tr>
        <tr>
          <td class="col-xs-2"><%='7367'%></span> </td>
          <td class="col-md-7"><%= '2014-08-01T10' %></td>
          <td class="col-md-3"><%= 'dt-chocolate - Image Open redirect' %></td>
          <td><button type="button" class="btn btn-primary btn-sm">Ver Detalle</button></td>
        </tr>
        <tr>
          <td class="col-xs-2"><%='7368'%></td>
          <td class="col-md-7"><%= '2014-08-01' %></td>
          <td class="col-md-3"><%= 'Multiple vulnerabilities in Chocolate WP theme for WordPress' %></td>
          <td><button type="button" class="btn btn-primary btn-sm">Ver Detalle</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
