<div class="panel panel-default plugins">
  <div class="panel-heading">
        <h3 class="panel-title">
        </span> Vulnerabilidades de Tema  <strong>dt-chocolate</strong></h3>
  </div>
  <div class="panel-body fixed-panel">
    <table class="table table-striped header-fixed">
      <thead>
        <tr>
          <th class="estado">Estado</th>
          <th>Nombre</th>
          <th>Version</th>
          <th>Detalle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="estado"><span class="glyphicon glyphicon-ok"></span> </td>
          <td><%= 'Featured-content-gallery' %></td>
          <td><%= '3.2.0' %></td>
          <td><button type="button" class="btn btn-primary btn-sm">Ver Detalle</button></td>
        </tr>
        <tr>
          <td class="col-xs-2"><span class="glyphicon glyphicon-remove"></span> </td>
          <td class="col-md-7"><%= 'fluid-respnsive-slideshow' %></td>
          <td class="col-md-3"><%= '2.2.6' %></td>
          <td><button type="button" class="btn btn-primary btn-sm">Ver Detalle</button></td>
        </tr>
        <tr>
          <td class="col-xs-2"><span class="glyphicon glyphicon-remove"></span> </td>
          <td class="col-md-7"><%= 'custom-admin-page' %></td>
          <td class="col-md-3"><%= '1.0.5' %></td>
          <td><button type="button" class="btn btn-primary btn-sm">Ver Detalle</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
