<div class="container">
  <div class="newscan">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-11">
            <h1 class="panel-title"> <span class="glyphicon glyphicon-flash"></span> Realizar An치lisis</h1>
          </div>
          </div>
        </div>
      <div class="panel-body">
        <div class="scaner">
        <div class="col-sm-3">
          <h5 style="font-weight: bold">Ingrese Url de sitio a an치lizar</h5>
        </div>
        <%= form_for(scan) do |f| %>
          <% if scan.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(scan.errors.count, "error") %> prohibited this scan from being saved:</h2>
              <ul>
                <% scan.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="col-sm-6">
              <div class="input-group">
                  <%= f.label :url, :class=>'input-group-addon', :id=>'basic-addon3' %>
                  <%= f.text_field :url, :class=>'form-control' %>
              </div>
          </div>
        <div class="col-sm-3">
          <div class="actions">
            <%= f.submit :An치lizar, :class=>'btn btn-primary' %>
          </div>
          </div>
        <% end %>
      </div>
    </div>
        </div>
    <p style="color:red"><input type="checkbox" aria-label=""> - Estoy autorizado para realizar an치lisis de sitio</p>
  </div>


</div>
